.form-section {
  position: fixed;
  left: 0;
  top: 0;
  width: 100vw;
  height: 100vh;
  backdrop-filter: blur(4px);
  display: grid;
  align-items: center;
  justify-items: center;
  color: white;
  z-index: 10;
  animation: fadeIn 0.3s ease-in-out;
}

@keyframes fadeIn {
  from {
    transform: scale(0.8);
    opacity: 0;
  }
  to {
    transform: scale(1);
    opacity: 1;
  }
}

.form-wrapper {
  position: relative;
  width: 100%;
  max-width: 800px;
  .progress-circle {
    --size: 135px;
    width: var(--size);
    height: var(--size);
    position: absolute;
    top: calc((var(--size) / -2));
    left: 50%;
    transform: translateX(-50%);
    background: var(--bg-color);
    border-radius: 50%;
    padding: 10px;
    z-index: 2;
  }
}

.form {
  border: 3px solid #2c2c51;
  border-radius: 23px;
  padding: 80px 70px;
  padding-bottom: 30px;
  position: relative;
  max-width: 800px;
  height: 615px;
  width: 100%;
  display: flex;
  flex-direction: column;
  background: var(--bg-color);
  box-shadow: 0 30px 90px 0px rgba(0, 0, 0, 0.58);

  .games {
    display: grid;
    grid-template-columns: auto auto auto;
    gap: 30px;

    .tab {
      margin-right: 20px;
      margin-bottom: 12px;
    }

    .game-category {
      display: flex;
      flex-direction: column;
      align-items: flex-start;

      h3 {
        font-weight: normal;
        font-size: 18px;
        margin-bottom: 10px;
      }
    }
  }

  .areas {
    .area-category {
      margin-bottom: 20px;
      h3 {
        font-weight: normal;
        font-size: 18px;
        margin-bottom: 10px;
      }

      &:last-of-type {
        margin-bottom: 0px;
      }
    }
    .tab {
      margin-right: 15px;
      margin-bottom: 8px;
      padding: 10px 12px;
    }
  }

  .buttons {
    display: flex;
    justify-content: flex-end;
    margin-top: auto;

    .button {
      margin-right: 25px;

      &:last-of-type {
        margin-right: 0;
      }
    }
  }

  .personal-form {
    display: flex;
    align-items: center;
    flex-direction: column;
    max-width: 400px;
    margin: auto;

    .form-control {
      width: 100%;

      label {
        padding-bottom: 7px;
        font-size: normal;
        display: block;
      }

      input {
        padding: 14px 20px;
        margin-bottom: 20px;
        font-size: 18px;
        border-radius: 15px;
        border: 2px solid var(--accent);
        background: var(--bg-color);
        color: white;
        width: 100%;

        &:focus {
          outline: 0;
          box-shadow: 0px 0px 0px 1px white;
        }
      }
    }

    .inputs {
      display: flex;
      align-items: flex-start;
      flex-direction: column;
      flex: 1;
      padding: 20px 0;
      width: 100%;
    }
  }
}

.form0 {
  justify-content: center;
  padding-bottom: 80px;
  h2 {
    line-height: 1;
    font-size: 4.375rem;
    letter-spacing: 0.05em;
    color: var(--heading-color);
    text-align: center;
    margin-bottom: 30px;
    text-transform: uppercase;
    .outline {
      font-size: 3.5rem;
      -webkit-text-stroke: 1px var(--heading-color);
      -webkit-text-fill-color: transparent;
    }
  }
  .instructions {
    display: block;
    text-transform: uppercase;
    font-family: "Uniform";
    max-width: 400px;
    text-align: center;
    margin: auto;
  }
}

.button-close {
  position: absolute;
  top: 25px;
  right: 25px;
  z-index: 1;
  background: transparent;
  outline: 0;
  border: none;
  cursor: pointer;
  svg {
    width: 15px;
  }
}

.formEnd {
  justify-content: center;
  padding-bottom: 80px;
  h2 {
    line-height: 1;
    font-size: 4.375rem;
    letter-spacing: 0.05em;
    color: var(--heading-color);
    text-align: center;
    margin-bottom: 30px;
    text-transform: uppercase;
    .outline {
      font-size: 3.5rem;
      -webkit-text-stroke: 1px var(--heading-color);
      -webkit-text-fill-color: transparent;
    }
  }
  .instructions {
    display: block;
    text-transform: uppercase;
    font-family: "Uniform";
    max-width: 400px;
    text-align: center;
    margin: auto;
  }
}

.rect1 {
  width: 370px;
  height: 200px;
  left: -170px;
  top: -100px;
  z-index: -1;
  position: absolute;
  background: var(--heading-color-animate);
  animation: comeIn1 0.5s ease-in-out;
  //animation-delay: 0.5s;
  animation-fill-mode: forwards;
}

.rect2 {
  width: 300px;
  height: 400px;
  right: -170px;
  bottom: -100px;
  z-index: -1;
  position: absolute;
  background: var(--heading-color-animate);
  animation: comeIn2 0.7s ease-in-out;
  //animation-delay: 0.3s;
  animation-fill-mode: forwards;
}

@keyframes comeIn1 {
  from {
    transform: scale(0.6) translate(200px, 200px);
  }
}

@keyframes comeIn2 {
  from {
    transform: scale(0.6) translate(-200px, -200px);
  }
}
