.form-section {
  position: fixed;
  left: 0;
  top: 0;
  width: 100vw;
  height: 100vh;
  backdrop-filter: blur(4px);
  display: grid;
  align-items: center;
  justify-items: center;
  color: white;
  z-index: 10;
}

.form-wrapper {
  position: relative;
  width: 100%;
  max-width: 800px;
  .progress-circle {
    --size: 135px;
    width: var(--size);
    height: var(--size);
    position: absolute;
    top: calc((var(--size) / -2));
    left: 50%;
    transform: translateX(-50%);
    background: var(--bg-color);
    border-radius: 50%;
    padding: 10px;
    z-index: 2;
  }
}

.form {
  border: 3px solid #2c2c51;
  border-radius: 23px;
  padding: 100px 70px;
  padding-bottom: 40px;
  position: relative;
  max-width: 800px;
  width: 100%;
  background: var(--bg-color);

  .games {
    display: grid;
    grid-template-columns: auto auto auto;
    gap: 30px;

    .tab {
      margin-right: 20px;
      margin-bottom: 12px;
    }

    .game-category {
      display: flex;
      flex-direction: column;
      align-items: flex-start;

      h3 {
        font-weight: normal;
        font-size: 18px;
        margin-bottom: 10px;
      }
    }
  }

  .areas {
    .area-category {
      margin-bottom: 30px;
      h3 {
        font-weight: normal;
        font-size: 18px;
        margin-bottom: 10px;
      }
    }
    .tab {
      margin-right: 15px;
      margin-bottom: 8px;
      padding: 10px 12px;
    }
  }

  .buttons {
    display: flex;
    justify-content: flex-end;
    margin-top: 30px;

    .button {
      margin-right: 25px;

      &:last-of-type {
        margin-right: 0;
      }
    }
  }

  .personal-form {
    display: flex;
    align-items: center;
    flex-direction: column;
    max-width: 400px;
    margin: auto;

    .form-control {
      width: 100%;

      label {
        padding-bottom: 7px;
        font-size: normal;
        display: block;
      }

      input {
        padding: 14px 20px;
        margin-bottom: 20px;
        font-size: 18px;
        border-radius: 15px;
        border: 2px solid var(--accent);
        background: var(--bg-color);
        color: white;
        width: 100%;

        &:focus {
          outline: 0;
          box-shadow: 0px 0px 0px 1px white;
        }
      }
    }

    .inputs {
      display: flex;
      align-items: flex-start;
      flex-direction: column;
      flex: 1;
      padding: 20px 0;
      width: 100%;
    }
  }
}
