* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

@font-face {
  font-family: "Shapiro";
  font-weight: bold;
  src: url("./fonts/sharpiro-bold.woff2") format("woff2");
}

@font-face {
  font-family: "Shapiro";
  font-weight: normal;
  src: url("./fonts/sharpiro-regular.woff2") format("woff2");
}
@font-face {
  font-family: "Uniform";
  font-weight: bold;
  src: url("./fonts/uniform-pro-con-black.woff2") format("woff2");
}
@font-face {
  font-family: "Uniform";
  font-weight: normal;
  src: url("./fonts/uniform-pro-con-medium.woff2") format("woff2");
}

:root {
  --primary-color: #ffc3a4;
  --font-color: #fff;
  --bg-color: #16152b;
  --piece-bg: rgba(17, 15, 27, 0.9);
  --piece-header-bg: #1d1b38;
  --heading-color: #ffc3a4;
  --heading-color-animate: #4508d6;
  --button-fill: #292845;
  --tint: #54536d;
  --accent: #abf49d;
  --filter-bg: rgba(22, 21, 43, 0.95);
  --pill-fill2: #6e44ff;
  --pill-fill1: #292744;
  --grid-btn-background: transparent;
  --filter-fade: linear-gradient(180deg, rgba(22, 21, 43, 0), #16152b);
  --progress: #5be080;
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-family: "Shapiro", sans-serif;
  background: var(--bg-color);
}

.button {
  --primary-color: #ffc3a4;
  justify-self: center;
  cursor: pointer;
  -webkit-text-size-adjust: 100%;
  -webkit-font-smoothing: antialiased;
  font-family: inherit;
  -webkit-appearance: button;
  font-size: 0.75rem;
  border-radius: 40px;
  padding: 1.1875rem 2.5rem;
  letter-spacing: 0.1em;
  text-transform: uppercase;
  color: var(--hover-text, var(--primary-color));
  background: var(--bg, #16152b);
  border: 2px solid var(--primary-color);
  transition: all 0.15s ease-in;
  user-select: none;

  &--primary {
    background: var(--primary-color);
    color: var(--bg-color);
  }

  &--green {
    background: var(--accent);
    color: var(--bg-color);
    border-color: var(--accent);
  }

  &--link {
    color: white;
    border-color: transparent;

    &:hover {
      background: #262744;
    }
  }
}

@media (hover: hover) {
  button:hover {
    --bg: var(--primary-color);
    --hover-text: #16152b;
  }
}

.tag-line {
  border-left: 6px solid var(--primary-color);
  padding-left: 15px;
  margin-bottom: 30px;

  h3 {
    font-size: 22px;
    line-height: 1em;
    margin-bottom: 5px;
  }

  span {
    font-weight: normal;
    font-size: 16px;
    display: block;
    color: #a7a7a7;
  }
}

@import "./styles/homepage.scss";
@import "./styles/iconTab.scss";
@import "./styles/form.scss";
